/*p {*/
/*    font-size: 64px !important;*/
/*    margin: 24px 0 !important;*/
/*    text-align: center !important;*/
/*}*/

@font-face {
    font-family: HelveticaNeue;
    src: url("assets/fonts/Helvetica-Neue-Font/Helvetica Neue Medium Extended/Helvetica Neue Medium Extended.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Raleway;
    src: url("assets/fonts/Raleway/Raleway-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: Raleway;
    src: url("assets/fonts/Raleway/Raleway-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: Raleway;
    src: url("assets/fonts/Raleway/Raleway-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Raleway;
    src: url("assets/fonts/Raleway/Raleway-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Raleway;
    src: url("assets/fonts/Raleway/Raleway-Medium.ttf");
    font-weight: 500;
}
